html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: darkslateblue;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 small {
  display: block;
  color: #b2b2b2;
  font-size: 18px;
  font-weight: 200;
}

iframe.loading {
  opacity: 0.5;
}

form input {
  display: block;
  width: 100%;
}
